body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #530d56;
  color: white;
  padding: 10px;
  text-align: center;
}

h1 {
  margin: 0;
}

li {
  list-style-type: none;
}

section {
  padding: 20px;
}

/* Form Container */
#add-event {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

form label {
  display: block;
  margin-top: 10px;
}

form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

#event-reminder {
  width: 10%;
}

button {
  margin: 2px;
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

#events {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
  align-items: stretch;
}

.event-item {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 250px;
  border-radius: 8px;
  height: 100%;
}

.event-time {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.event-header {
  background-color: #549fe5;
  font-size: 1.6em;
  color: white;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  text-align: center;
  font-weight: bold;
}

.event-details {
  padding: 10px;
}

.event-date-time {
  font-size: 1.4em;
  color: #555;
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: auto;
  padding: 10px;
}

button.delete-btn,
button.edit-btn {
  padding: 8px 12px;
  background-color: #e74c3c;
  color: white;
  border: none;
  cursor: pointer;
  width: 30%;
  text-align: center;
}

button.delete-btn:hover {
  background-color: #c0392b;
}

button.edit-btn {
  background-color: #a334db;
}

button.edit-btn:hover {
  background-color: #711c8b;
}

/* Modal styling */
#edit-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 1000;
}

#edit-modal input {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

#edit-modal button {
  margin: 10px 5px;
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

#edit-modal button:hover {
  background-color: #45a049;
}

/* Responsive Design */
@media screen and (max-width: 1200px) {
  #events {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  #events {
    grid-template-columns: 1fr; /* 1 item per row for small screens */
  }
}
